:root {
  --primary: #f0c400;
  --bg: #FBFFF9;
  --text-color: #000000;
  --secondary-text-color: #555555;
  --border-color: #513c28;
  --highlight-color: #397405;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--text-color);
}

/* Navbar */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #397405;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  display: inline-block;
  gap: 1rem;
  margin-left: auto; /* Ensure navbar items are aligned to the right */
}

.navbar .navbar-nav a, .navbar .navbar-nav button {
  color: #000000;
  font-size: 1.3rem;
  margin: 0 1rem;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .navbar-nav .dropdown {
  position: relative;
  display: inline-block;
}


.navbar .navbar-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}


.navbar .navbar-nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .navbar-nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar .navbar-nav .dropdown:hover .dropdown-content {
  display: block;
}


/* Navbar Extra */
.navbar .navbar-extra {
  margin-left: 1rem;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--primary);
  position: relative;
}

h2::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background: var(--primary);
  margin: 1rem auto 0;
  border-radius: 2px;
}

.section {
  padding: 4rem 0;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border: 6px solid var(--highlight-color);
  transition: transform 0.3s ease;
}

.team-member img:hover {
  transform: scale(1.1);
}

.team-member-info h3 {
  font-size: 2rem;
  color: var(--highlight-color);
}

.team-member-info .role {
  font-size: 1.7rem;
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}

.team-member-info .description,
.team-member-info .quote {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 1.2rem;
  max-width: 800px;
}

.team-member-info .quote {
  font-style: italic;
  color: var(--secondary-text-color);
}

.section h2 span {
  color: #5BCD00;
}

/* Tablet */
@media (max-width: 758px) {
  h2 {
    font-size: 2.5rem;
  }

  .team-member img {
    width: 180px;
    height: 180px;
  }

  .team-member-info h3 {
    font-size: 1.8rem;
  }

  .team-member-info .role {
    font-size: 1.5rem;
  }

  .team-member-info .description,
  .team-member-info .quote {
    font-size: 1.3rem;
  }
}

#company-adv {
    position: relative;
    overflow: hidden;
    background-image: url("../img/advantages-leaves-left.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#company-adv-container {
    max-width: 1200px;
    background-image: url("../img/adv-floating-leaves-right.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/* Footer */

.footer-info {
  font-size: 15px;
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 10px; /* Add rounded corners */
}

.footer-info .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-info-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.footer-info-col {
  flex: 1 0 300px;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 30px; /* Add margin-left to shift to the right */
  color: #000000;
}


.footer-info-col h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-in-out; /* Add animation */
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-info-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-info-col li {
  margin-bottom: 10px;
}

.footer-info-col a {
  text-decoration: none;
  color: #333;
}

.footer-info-col a:hover {
  color: #3c5a00;
}

.footer-image {
  max-width: 15%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}

.footer-image2 {
  max-width: 45%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}

.footer-image3 {
  max-width: 35%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}


.footer-copyright {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  position: relative; /* Menentukan posisi relatif untuk mengontrol pseudo-element */
}

.footer-copyright::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* Menempatkan di tengah */
  transform: translateX(-50%); /* Menggeser ke kiri sejauh setengah dari lebar konten */
  width: 50%; /* Lebar garis */
  height: 0.1rem; /* Tinggi garis */
  background-color: #513c28; /* Warna garis */
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #000000;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #3c5a00;
}


.footer-copyright p {
 
  margin: 10px;
  color: #000000;
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    color: #000000;
  }


  /* Tablet */
@media (max-width: 758px) {
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 100%;
    height: auto;
    transition: 0.3s;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #000000;
    display: block;
    margin: 10px 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s; /* Transisi warna latar belakang saat hover */
  }

  .navbar .navbar-nav a:hover {
    background-color: #f1f1f1; /* Warna latar belakang saat tautan dihover */
  }

  .navbar .navbar-nav .dropdown {
    position: relative;
    display: block;
  }

  .navbar .navbar-nav .dropdown-content {
    display: none;
    position: relative;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navbar .navbar-nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar .navbar-nav .dropdown-content a:hover {
    background-color: #d9d7d7;;
  }

  .navbar .navbar-nav .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .navbar .navbar-nav .dropdown-content a:last-child {
    border-bottom: none;
  }
}


  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}


/* Mobile Phone */
@media (max-width: 450px) {
  h2 {
    font-size: 2rem;
  }

  .team-member img {
    width: 150px;
    height: 150px;
  }

  .team-member-info h3 {
    font-size: 1.6rem;
  }

  .team-member-info .role {
    font-size: 1.4rem;
  }

  .team-member-info .description,
  .team-member-info .quote {
    font-size: 1.2rem;
  }
}