:root {
  --primary: #f0c400;
  --bg: #FBFFF9;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000000;
  
}

/* Navbar */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #397405;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  display: inline-block;
  gap: 1rem;
  margin-left: auto; /* Ensure navbar items are aligned to the right */
}

.navbar .navbar-nav a, .navbar .navbar-nav button {
  color: #000000;
  font-size: 1.3rem;
  margin: 0 1rem;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .navbar-nav .dropdown {
  position: relative;
  display: inline-block;
}


.navbar .navbar-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}


.navbar .navbar-nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .navbar-nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar .navbar-nav .dropdown:hover .dropdown-content {
  display: block;
}


/* Navbar Extra */
.navbar .navbar-extra {
  margin-left: 1rem;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}



.footer-copyright {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  position: relative; /* Menentukan posisi relatif untuk mengontrol pseudo-element */
}

.footer-copyright::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* Menempatkan di tengah */
  transform: translateX(-50%); /* Menggeser ke kiri sejauh setengah dari lebar konten */
  width: 50%; /* Lebar garis */
  height: 0.1rem; /* Tinggi garis */
  background-color: #513c28; /* Warna garis */
}

