:root{
    
    --primary: #f0c400;
    --bg: #FBFFF9;
    --border:.1rem solid rgba(60, 255, 0, 0.916);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #f39c12;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

#company-adv {
    position: relative;
    overflow: hidden;
    background-image: url("../images/advantages-leaves-left.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#company-adv-container {
    max-width: 1200px;
    background-image: url("../images/adv-floating-leaves-right.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.heading{
    text-align: center;
    color:#f39c12;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
}

.heading span{
    color:#5BCD00;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    font-weight: 500;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#f39c12;
}

.header .navbar a:hover{
    color:#5BCD00;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#f39c12;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

/* Dropdown */
.header .navbar .dropdown {
  position: relative;
  display: inline-block;
}

.header .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

.header .navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header .navbar .dropdown-content a:hover {
  background-color: #dbdbdb;
}

.header .navbar .dropdown:hover .dropdown-content {
  display: block;
}



#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    color: #fff; /* Ubah warna teks menjadi putih untuk kontras */
    background: linear-gradient(45deg, #5BCD00, #397405); /* Gradien warna hijau */
    border: none;
    border-radius: 25px; /* Membuat sudut tombol melengkung */
    padding: 1rem 2rem; /* Tambahkan padding untuk memperbesar tombol */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan untuk efek 3D */
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease; /* Efek transisi */
    cursor: pointer; /* Menunjukkan bahwa ini bisa diklik */
}

.header .cart-items-container .btn:hover {
    background: linear-gradient(45deg, #397405, #5BCD00); /* Ubah gradien warna saat hover */
    transform: scale(1.05); /* Memperbesar sedikit tombol saat hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Tambahkan bayangan saat hover */
}

.header .cart-items-container .btn:active {
    transform: scale(0.95); /* Sedikit mengecilkan tombol saat diklik */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Mengurangi bayangan saat tombol aktif */
}

/* General Styling */
.product-section {
  padding: 100px;
  background-image: url("../images/advantages-leaves-left.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.product-section p {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

/* Product Styling */
.product {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  margin-bottom: 20px;
  border: 1px solid #77ff00;
  border-radius: 12px; /* Rounded corners for the whole product container */
  background-color: #FBFFF9;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and scaling */
}

.product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transform: scale(1.02); /* Slightly scale up the product on hover */
}

.product-image {
  flex: 1 1 30%; /* Flex-basis of 30% for image */
  position: relative;
  border-top-left-radius: 12px; /* Rounded corners for the top-left of the image */
  border-bottom-left-radius: 12px; /* Rounded corners for the bottom-left of the image */
  overflow: hidden; /* Hide any overflow from the image */
}

.product-image img {
  width: 100%;
  height: auto;
  display: block; /* Remove bottom space under image */
  border-top-left-radius: 12px; /* Rounded corners for the top-left of the image */
  border-bottom-left-radius: 12px; /* Rounded corners for the bottom-left of the image */
  transition: transform 0.3s ease; /* Smooth transition for image scaling */
}

.product-image:hover img {
  transform: scale(1.05); /* Slightly zoom in the image on hover */
}

.product-info {
  flex: 1 1 70%; /* Flex-basis of 70% for text */
  padding: 15px;
}

.product-info h2 {
  font-size: 1.6em; /* Slightly larger font size */
  color: #000000;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 1.3em; /* Slightly larger font size */
  color: #000000;
  margin-bottom: 10px;
}

.product-details ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid dengan kolom responsif */
  gap: 10px; /* Mengurangi jarak antar item */
  padding-left: 0; /* Hapus padding default */
  list-style-type: none; /* Hapus bullet points default */
  margin: 0; /* Hapus margin default */
}

.product-details li {
  font-size: 1.2em;
  color: #000000;
  position: relative; /* Posisi relatif untuk bullet custom */
  padding-left: 20px; /* Jarak untuk bullet custom */
  margin-bottom: 1px; /* Jarak di bawah setiap item daftar */
}

.product-details li::before {
  content: "\2022"; /* Unicode untuk bullet point */
  font-size: 1.2em; /* Ukuran bullet yang lebih kecil */
  color: #000000; /* Warna bullet */
  position: absolute;
  left: 0; /* Posisi bullet di kiri */
  top: 0;
}


/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #FBFFF9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #000000;
  width: 50%;
  max-width: 800px;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  color: #000000;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .product-section {
    padding: 50px; /* Reducing padding for better fit on smaller screens */
  }

  .product {
    flex-direction: column; /* Stack image and text vertically */
  }

  .product-image {
    width: 100%; /* Full width on smaller screens */
    flex: 1 1 100%;
  }

  .product-info {
    width: 100%; /* Full width on smaller screens */
  }

  .product-info h2 {
    font-size: 1.7em; /* Increased font size for better readability */
  }

  .product-info p {
    font-size: 1.2em; /* Increased font size for better readability */
  }

  .product-section p {
    font-size: 1.4rem; /* Increased font size */
  }
}

@media (max-width: 480px) {
  .product-section {
    padding: 30px; /* Further reducing padding on very small screens */
    margin-top: 8rem;
  }

  .product-info h2 {
    font-size: 2em; /* Slightly larger font size for very small screens */
  }

  .product-info p {
    font-size: 1.1em; /* Slightly larger font size for better readability */
  }

  .product-section p {
    font-size: 1.2rem; /* Increased font size */
  }
}

.product-actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
}

.action-icon {
  color: #ffffff; /* Warna default ikon */
  font-size: 2em; /* Ukuran ikon yang lebih besar */
  margin: 10px 0; /* Jarak antara ikon */
  cursor: pointer; /* Tangan saat hover */
  transition: color 0.3s ease, transform 0.3s ease; /* Transisi warna dan transformasi */
}

/* Hover effect for icons */
.action-icon:hover {
  color: #5BCD00; /* Warna saat hover */
  transform: scale(1.1); /* Membesarkan ikon sedikit saat hover */
}

/* Responsive Styling for icons */
@media (max-width: 768px) {
  .product-actions {
    top: 5px;
    right: 5px;
  }

  .action-icon {
    font-size: 1.5em; /* Ukuran ikon yang lebih kecil pada layar kecil */
    margin: 5px 0; /* Jarak antar ikon lebih kecil */
  }
}

@media (max-width: 480px) {
  .action-icon {
    font-size: 1.5em; /* Ukuran ikon lebih kecil pada layar sangat kecil */
    margin: 4px 0; /* Jarak antar ikon lebih kecil */
  }
}

/* Supported & Certified Section */
.footer-info-col {
  text-align: center;
  padding: 3rem 0; /* Padding around the section */
  margin-top: 8rem;
}

.footer-info-col h3 {
  font-size: 2rem; /* Font size for the title */
  margin-bottom: 1rem; /* Margin to space out from the logos */
}

.footer-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping of logos to next line */
  gap: 1rem; /* Space between logos */
  padding: 0; /* No padding around the images */
}

.footer-images img {
  width: 100px; /* Logo size for desktop */
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-images img:hover,
.footer-images img:focus {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .footer-images img {
    width: 120px; /* Adjusted size for tablets */
  }
}

@media (max-width: 768px) {
  .footer-info-col {
    padding: 2rem 0; /* Reduced padding for smaller screens */
  }

  .footer-images img {
    width: 80px; /* Adjusted size for mobile */
  }
}

@media (max-width: 480px) {
  .footer-images img {
    width: 60px; /* Further reduced size for very small screens */
  }
}

.footer {
    background: #FBFFF9; /* Black background */
    text-align: center;
    padding: 2rem 1rem;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #000000; /* White color for icons */
    border: 2px solid #5BCD00; /* Green border */
    margin: .3rem;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer .share a:hover {
    background-color: #f39c12; /* Orange background on hover */
    color: #000000; /* White color for icons on hover */
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #000000; /* White text color */
    border: 2px solid #5BCD00; /* Green border */
    font-size: 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.footer .links a:hover {
    background: #f39c12; /* Orange background on hover */
}

.footer .info {
    padding: 1rem 0;
}

.footer .info p {
    color: #000000; /* White text color */
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

.footer .credit {
    font-size: 2rem;
    color: #000000; /* White text color */
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: #f39c12; /* Orange color for the span */
}


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .header .navbar .dropdown-content {
    position: static;
    box-shadow: none;
    min-width: 100%;
  }

  .header .navbar .dropdown-content a {
    padding: 10px;
    text-align: left; /* Ensure text is left-aligned */
  }

  .header .navbar .dropdown:hover .dropdown-content {
    display: block;
    position: static;
  }

  /* Ensuring the About and Product links are vertical */
  .header .navbar {
    display: flex;
    flex-direction: column;
  }

  .header .navbar .dropdown {
    display: block;
  }
}