:root {
  --primary: #f0c400;
  --bg: #FBFFF9;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000000;
  
}

/* Navbar */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}


.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #397405;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  display: inline-block;
  gap: 1rem;
  margin-left: auto;
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  position: relative;
  text-decoration: none;
  padding-bottom: 0.5rem;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid transparent;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.navbar .navbar-nav a:hover {
  color: var(--primary); /* Warna teks saat dihover */
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-nav a.active::after {
  transform: scaleX(1); /* Mengubah scaleX saat dihover */
  border-bottom-color: var(--primary); /* Warna garis bawah saat dihover */
}

/* Dropdown */
.navbar .navbar-nav .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .navbar-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}

.navbar .navbar-nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .navbar-nav .dropdown-content a:hover {
  background-color: #dbdbdb;
}

.navbar .navbar-nav .dropdown:hover .dropdown-content {
  display: block;
}



/* Navbar Extra */
.navbar .navbar-extra {
  margin-left: 1rem;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}


/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/header-bgg.jpg'); /* Replace with your image path */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0.5));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0.5));
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5); /* Reduced opacity */
}


.hero .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.hero .content h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek shadow pada teks */
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-out; /* Animasi masuk */
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Efek shadow pada teks */
  animation: fadeInUp 1.5s ease-out; /* Animasi masuk */
}

.hero .content .cta {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #5BCD00;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeInUp 2s ease-out; /* Animasi masuk */
}

.hero .content .cta:hover {
  background-color: #e0b400;
  transform: scale(1.05);
}

/* Animasi Fade In Up */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


#company-adv {
    position: relative;
    overflow: hidden;
    background-image: url("../img/advantages-leaves-left.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#company-adv-container {
    max-width: 1200px;
    background-image: url("../img/adv-floating-leaves-right.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.about,
.menu,
.products,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: #5BCD00;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}



.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  text-align: justify; /* Justify text */
  font-weight: 300;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
  font-weight: 300;
}


/* Menu Section */
.menu h2,
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}



/* Bagian Produk */

.products .row {
  display: flex;
  flex-wrap: nowrap;
  gap: 0rem;
  overflow-x: auto;
  padding: 1rem 0;
  scroll-snap-type: x mandatory; /* Aktifkan snap scroll horizontal */
}

.products .product-card {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-image: url('../img/card.jpg'); 
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  min-width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.products .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.products .product-icons a:hover {
  background-color: #666;
  color: #fff;
}

.products .product-image {
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
}

.products .product-image img {
  height: 12rem; /* Atur tinggi gambar sesuai kebutuhan yang lebih kecil */
  width: auto;
  max-width: 100%;
  border-radius: 1rem; /* Tambahkan border-radius untuk membuat sudut-sudut gambar melengkung */
  transition: transform 0.3s ease;
}


.products .product-image img:hover {
  transform: scale(1.1); /* Efek zoom pada hover */
}


.products .product-image img:hover {
  transform: scale(1.1); /* Efek zoom pada hover */
}

.products .product-content h3 {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  color: #000000;
}

.products .product-content p {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
}
.product-content .btn {
  display: inline-block;
  padding: 1rem 2.5rem; /* Increased padding */
  background-color: #5BCD00; /* Background color on hover */
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Added margin to move the button down */
   font-size: 1.2rem; /* Increased font size */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .product-content .btn {
    padding: 1.2rem 3rem; /* Further increased padding for mobile */
    margin-top: 1.2rem; /* Adjusted margin for mobile */
  }
}



.product-content .btn:hover {
  background-color: var(--primary); /* Warna latar saat tombol dihover */
}



/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  border-radius: 12px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners are applied */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 0 0 12px; /* Rounded corners on the left side */
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  border-radius: 0 12px 12px 0; /* Rounded corners on the right side */
  background-color: var(--bg);
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
  padding-left: 2rem;
  border-radius: 12px;
  border: 1px solid #000000;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: none;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 12px;
}

.contact .row form .input-group input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Placeholder text color */
}
.contact .row form .input-group input,
.contact .row form .input-group textarea {
  flex: 1; /* Takes the remaining space */
  padding: 1rem;
  font-size: 1.6rem;
  background: none;
  color: #000;
  border: none;
  outline: none;
  border-radius: 12px;
}

.contact .row form .input-group input::placeholder,
.contact .row form .input-group textarea::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Placeholder text color */
  /* Ensure placeholder text is vertically centered */
  display: flex;
  align-items: center;
}

.contact .row form .input-group textarea {
  resize: vertical; /* Allows resizing only vertically */
  min-height: 250px; /* Minimum height for the textarea */
}


.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #173202;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  border: 2px solid #000000;
}

.contact .row form .btn:hover {
  background-color: #ff8c00; /* Darker background on hover */
}


/* Footer */
/* Footer */

.footer-info {
  font-size: 15px;
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 10px; /* Add rounded corners */
}

.footer-info .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-info-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.footer-info-col {
  flex: 1 0 300px;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 30px; /* Add margin-left to shift to the right */
  color: #000000;
}


.footer-info-col h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-in-out; /* Add animation */
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-info-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-info-col li {
  margin-bottom: 10px;
}

.footer-info-col a {
  text-decoration: none;
  color: #333;
}

.footer-info-col a:hover {
  color: #3c5a00;
}

.footer-image {
  max-width: 15%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}

.footer-image2 {
  max-width: 45%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}

.footer-image3 {
  max-width: 35%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}


.footer-copyright {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  position: relative; /* Menentukan posisi relatif untuk mengontrol pseudo-element */
}

.footer-copyright::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* Menempatkan di tengah */
  transform: translateX(-50%); /* Menggeser ke kiri sejauh setengah dari lebar konten */
  width: 50%; /* Lebar garis */
  height: 0.1rem; /* Tinggi garis */
  background-color: #513c28; /* Warna garis */
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #000000;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #3c5a00;
}


.footer-copyright p {
 
  margin: 10px;
  color: #000000;
}




/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    color: #000000;
  }


  /* Tablet */
@media (max-width: 758px) {
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 100%;
    height: auto;
    transition: 0.3s;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #000000;
    display: block;
    margin: 10px 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s; /* Transisi warna latar belakang saat hover */
  }

  .navbar .navbar-nav a:hover {
    background-color: #f1f1f1; /* Warna latar belakang saat tautan dihover */
  }

  .navbar .navbar-nav .dropdown {
    position: relative;
    display: block;
  }

  .navbar .navbar-nav .dropdown-content {
    display: none;
    position: relative;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navbar .navbar-nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar .navbar-nav .dropdown-content a:hover {
    background-color: #d9d7d7;;
  }

  .navbar .navbar-nav .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .navbar .navbar-nav .dropdown-content a:last-child {
    border-bottom: none;
  }
}


  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  
}
